@font-face {
  font-family: 'Golos';
  src: local('Golos'),
      url('GolosText-VariableFont_wght.ttf') format('truetype'),
      url('GolosText-Black.ttf') format('truetype'),
      url('GolosText-Bold.ttf') format('truetype'),
      url('GolosText-ExtraBold.ttf') format('truetype'),
      url('GolosText-Medium.ttf') format('truetype'),
      url('GolosText-Regular.ttf') format('truetype'),
      url('GolosText-SemiBold.ttf') format('truetype');
      font-style: normal;
}

// @import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');